html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
}

#container{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.popup {
    fill-opacity: 0;
}

g:hover .location{
    fill-opacity: 0.5;
}

g:hover .popup{
    fill-opacity: 1;
}

.resident:hover .resident-popup{
    fill-opacity: 0.8;
}

.resident-popup{
    fill-opacity: 0;
}